@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-color-primary {
  color: #194B9F !important;
}

.text-color-secondary {
  color: #E6B145 !important;
}

.bg-color-primary {
  background-color: #194B9F !important;
}

.bg-color-secondary {
  background-color: #E6B145 !important;
}
